node_modules/
build/
!android/app/build/
android/app/build/*
!android/app/build/outputs/
android/app/build/outputs/*
!android/app/build/outputs/apk/
android/app/build/outputs/apk/*
!android/app/build/outputs/apk/debug/
android/app/build/outputs/apk/debug/*
!android/app/build/outputs/apk/debug/app-debug.apk
dist/
dev-dist/
coverage/
.DS_Store
*.log
.env*
!.env.example
android/.gradle/
android/local.properties
android/app/google-services.json

